.body-size {
  padding: 0 20px;
  width: 90%;
  margin-right:auto;
  margin-left:auto;
}


.opening {
    display:none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0px;
}

.txt-centerizer {
    text-align: center;
}

.img-centerizer {
    margin-left: auto;
    margin-right: auto;
    
}

#scroller-image {
    padding: 30px;    
    max-width: 350px;
}

#scroller-image-solid {
    margin-top: 2em;
    height: 400px;
    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }




.image-size {
  padding-top: 50px;
  width: 600px;
}

hr {
 width: 70%;
 margin-left: auto;
 margin-right: auto;   
}


.image-gallery-layout {
    display: flex;
    justify-content: space-around;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}


@keyframes fade {
  from {opacity: 1}
  to {opacity: 0}
}

.reverse-fade {
  animation-name: reverse-fade;
  animation-duration: 1s;
}

@keyframes reverse-fade {
  from {opacity: 0}
  to {opacity: 1}
}

.head-animation {
  animation-name: head-animation;
  animation-duration: 2s;
}

@keyframes head-animation {
  from   {opacity: 0; transform: translateY(100px)}
  to {opacity: 1; transform: translateY(0)}
}


/*tower gallery layout*/
.learning-gallery {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*tower gallery pictures*/
.learning-gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
}


.btn-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.footer-style {
  height: 150px;
  background-color:#26272b;
  display:flex;
  color: white;
  padding: 15px;
  justify-content: space-between;
  margin-top: 15px;
}


.subhead-spacer {
  padding: 10px 0;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5);
}

.wood-details {
  margin:10px 0;
  font-style: italic;
}

.wood-details p{
  margin:0;
}

@media only screen and (min-width: 600px) {
  #scroller-image-solid {
    height: 600px;
  }

}

@media only screen and (min-width: 1944px) {

  .body-size {
    width: 70%;
  }

}








